body{
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .5s;
}

.nav{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.nav .logo{
    font-weight: 600;
    color: black;
    font-size: 22px;
    margin-left: 1rem;
}
.nav ul{
    list-style-type: none;
    display: flex;
}
.nav ul a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.nav ul li{
    margin-right: 1rem;
}
.nav ul li .active{
    border: 1px solid black;
    padding: .5rem;
}
.content{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.content .sub_content{
    max-width: 1000px;
    display: grid;
    place-items: center;
    padding: 1rem;
}
.content .sub_content .question-container{
    width: 700px;
    background-color: white;
    color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 8px wheat;
}
.content .sub_content .question-container .question{
    display: flex;
    justify-content: space-between;
}
.content .sub_content .question-container .answer{
    display: none;
}
.content .sub_content .question-container .question button{
    background-color: #000000;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}
.content .sub_content .question-container .minus{
    display: none;
}
.content .sub_content .question-contain .answer{
    display: block;
}
.content .sub_content .question-contain .minus{
    display: block;
}
.content .sub_content .question-contain .plus{
    display: none;
}
