:root{
    --blue: #012345;
    --white: #fff;
    --black: #000;
    --border: 1px solid var(--black);
    --background-img: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(dell.webp);
    --background-img2: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(gettyimages-1327683542-2048x2048.jpg);

    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: var(--font);
}
.container{
    background: var(--background-img);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.nav-container{
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
.nav-container button{
    display: none;
}
.fixed{
    position: fixed;
    background-color: var(--white);
    top: 0;
}
.nav-container .logo{
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    margin: 0 1rem;
}
.nav-container ul{
    list-style: none;
    display: flex;
}
.nav-container ul a{
    text-decoration: none;
}
.nav-container ul li{
    margin: 0 1rem;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.fixed ul li{
    color: black;
}
.fixed .logo{
    color: black;
}
.nav-container ul li:hover{
    font-size: 20px;
    transition: .5s;
}
.banner{
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.banner .banner-content{
    text-align: center;
}
.banner h1{
    color: var(--white);
    text-shadow: 1px 1px 1px white;
    font-size: 50px;
}
.banner span{
    color: whitesmoke;
    font-size: 20px;
}
.content-container{
    background: var(--background-img2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: var(--white);
    padding: 3rem 1rem;
}
.content-container h1{
    color: var(--white);
}
.backToTop{
    color: black;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-weight: 600;
    visibility: hidden;
    color: white;
}
.backToTop a{
    text-decoration: none;
    color: white;
}
.vBackToTop{
    visibility: visible;
}
@media only screen and (max-width: 750px){
    .nav-container{
        display:block;
        padding: 1rem .5rem 0rem;
        box-sizing: border-box;
        width: 100%;
        height: 66px;
    }
    .nav-container .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-container button{
        display: block;
        padding: .3rem;
        background: rgba(255,255,255,0.4);
        border: none;
        outline: none;
        cursor: pointer;
    }
    .fixed button{
        background: transparent;
    }
    .nav-container ul{
        height: 0;
        border-top: 0;
        display: block;
        padding: .1rem;
    }
    .nav-container ul li{
        margin: .5rem .5rem;
        display: none;
    }
    .mobile-nav{
        padding: 1rem .5rem;
        box-sizing: border-box;
        height: auto;
    }
    .mobile-nav ul{
        border-top: 1px solid var(--black);
        height: auto;
    }
    .mobile-nav ul li{
        display: block;
    }
}

